// Style for button and pseudo button for input and link

.btn {
	color: #161516;
	font-family: $main_font_family;
	font-size: 0.8em;
	letter-spacing: 0.07em;
	font-weight: 700;
	padding: 1em 2.5em;
	min-height: 6.3em;
	border: none;
	outline: none;
	text-decoration: none;
	display: inline-flex;
	margin: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
	max-width: 100%;
	background-color: #ffd44a;
	cursor: pointer;
	transition: all 0.3s;
	box-shadow: 0 0.625em 1.875em rgba(255, 209, 61, 0.8);
	// text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0.063em 0.063em 0 rgba(254, 254, 254, 0.25);
	border-radius: 0.188rem;
	background-image: linear-gradient(to bottom, #ffd13d 0%, #dab333 100%);

	@media (min-width: 768px) {
		font-size: 0.938em;
		min-height: 6em;
		// padding: 1em 2.5em;
	}

	&:hover {
		background-image: none;
		box-shadow: none;
		text-decoration: none;
	}

	&:disabled {
		background-image: none;
		box-shadow: none;
		cursor: default;
		background-color: lighten(#101010, 30%);
	}

	&:active,
	&:focus {
		box-shadow: none;
		background-color: #eab91c;
	}
	// @each $status_el, $color_bg in $el_colors {
	// 	&_#{$status_el} {
	// 		background-color: $color_bg;
	// 		border-color: $color_bg;
	// 		color: $btn_contrast_text_color;
	// 		&:hover {
	// 			background-color: darken($color_bg, 7%);
	// 			color: $btn_contrast_text_color;
	// 		}
	// 		&:focus,&:active {
	// 			background-color: darken($color_bg, 10%);
	// 			color: $btn_contrast_text_color;
	// 		}
	// 	}
	// }
}
