.developerSlider {
    &__item {
        position: relative;
    }

    &__descr {
        background-color: rgba(#101010, .8);
        padding: 2.4em 0 1.4em;
        line-height: 1.6;
        letter-spacing: 0.04em;

        @media (min-width: 768px) {
            position: absolute;
            padding: 2.7em 6.1em 3.7em 3.7em;
            top: 15.7em;
            left: 15.5em;
            z-index: 5;
            max-width: 37.4em;

            &:before {
                content: '';
                width: 1.563em;
                height: 1.563em;
                box-shadow: 0 0.625em 1.875em rgba(255, 209, 61, 0.8);
                background-color: #dab333;
                background-image: linear-gradient(to bottom, #ffd564 0%, #eebe3b 100%);
                position: absolute;
                top: 3.5em;
                left: -0.9em;
            }
        }

        @media (max-width: 767px) {
            text-align: center;
        }

    }

    &__name {
        font-size: 1.8em;
        font-weight: 600;
        margin-bottom: 0.4em;
        line-height: 1.3;
        letter-spacing: 0.001em;

        @media (min-width: 768px) {
            margin-bottom: 0.1em;
            font-size: 2.3em;
        }
    }

    &__marker {
        display: flex;
        align-items: center;

        @media (min-width: 768px) {
            position: absolute;
            bottom: 4.9em;
            left: 18em;
        }

        @media (max-width: 767px) {
            font-family: $main_font_family;
            justify-content: center;
            font-size: 0.9em;
            font-weight: 600;
            vertical-align: baseline;
            padding: 1em 0;
        }
    }

    .flag {
        margin-right: 0.3em;

        @media (min-width: 768px) {
            margin-right: 0.3em;
        }

        @media (max-width: 767px) {
            background: none;
            padding: 0;
            text-transform: none;
            display: inline;
            font-family: $main_font_family;
            font-weight: inherit;
            font-size: inherit;
            letter-spacing: normal;

            &:after {
                content: ' â€” ';

            }
        }
    }

    @media (max-width: 767px) {
        .slick {
            &-arrow {
                top: auto;
                bottom: 5em;

                &.icon_next {
                    right: 1em;
                }

                &.icon_prev {
                    left: 1em;
                }
            }
        }
    }
}
