.firstScreen {
    background: url("../img/f-bg-mob.png") top center no-repeat;
    background-size: 100% auto;
    padding: 19.1em 0 5.9em;

    @media (min-width: 768px) {
        background: url("../img/f-bg.jpg") top -26.2em center no-repeat;
        background-size: 100% auto;
        padding: 14em 0 30.3em;
        position: relative;
    }

    .section {
        &__title {
            font-weight: 300;
            font-size: 1.8em;
            letter-spacing: 0.025em;
            text-align: center;

            @media (min-width: 768px) {
                font-size: 3.7em;
                max-width: 12em;
                text-align: left;

                &:first-letter {
                    display: inline-block;
                    margin-left: -0.5em;
                }
            }

            @media (max-width: 767px) {
                line-height: 1.2;
                margin-bottom: 6.5em;
            }
        }
    }

    &__content {
        display: flex;
        // padding-bottom: 35em;

        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    &__left {
        flex: none;

        @media (min-width: 768px) {
            padding-top: 14.3em;
            padding-left: 1em;
            line-height: 1;
            margin-right: 18.7em;
            margin-left: -3em;
        }

        @media (max-width: 767px) {
            order: 1;
        }
    }

    &__counts {
        font-size: 1em;
        line-height: 1.5;

        @media (min-width: 768px) {
            font-size: 0.75em;
        }
        @media (max-width: 767px) {
            display: flex;
            justify-content: center;
            margin-top: 2.7em;
        }

        &Item {
            margin-bottom: 4.9em;

            @media (min-width: 768px) {
                margin-bottom: 4.9em;
                max-width: 10.6em;
                font-size: 1.3em;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-shadow: 0 0 0.5em #000;

                span {
                    display: none;
                }
            }

            @media (max-width: 767px) {
                width: 14em;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

    }

    &__num {
        font-size: 3.3em;
        line-height: 1;
        margin-left: 0;
        font-family: $num_font_family;
        margin-bottom: -0.1em;

        @media (min-width: 768px) {
            font-size: 5.7em;
            line-height: 1;
            // margin-left: -0.1em;
            // margin-bottom: -0.2em;
            text-shadow: 0 0 0.5em #000;
        }

        @media (min-width: 768px) {
            position: relative;
            z-index: 1;

            &:before {
                content: '';
                display: block;
                position: absolute;
                right: -0.15em;
                top: 0.3em;
                width: 0.35em;
                height: 0.35em;
                box-shadow: 0 0.625em 1.875em rgba(255, 209, 61, 0.8);
                background-color: #dab333;
                background-image: linear-gradient(to bottom, #ffd564 0%, #eebe3b 100%);
                z-index: -1;
            }
        }
    }

    &__right {
        margin-top: -1.5em;
    }

    &__action {
        margin-top: 3em;
        position: relative;

        @media (min-width: 768px) {
            padding-left: 7.1em;
            max-width: 33.6em;
        }

        .btn {
            width: 100%;

            @media (min-width: 768px) {
                position: relative;
                overflow: hidden;

                &:before {
                    content: '';
                    position: absolute;
                    top: -3em;
                    bottom: -3em;
                    left: -5em;
                    width: 4em;
                    transform: rotate(20deg);
                    // background-color: #000;
                    background-image: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,0.7), rgba(255,255,255,0),);
                    animation: 3s linear infinite blik;
                }
            }

        }

        &Sub {
            margin-top: 1.6em;
            font-size: 0.9em;
            text-align: center;

            @media (min-width: 768px) {
                margin-top: 1em;
                font-size: 0.95em;
            }
        }
    }

    &__paper {
        display: none;

        @media (min-width: 768px) {
            position: absolute;
            z-index: 0;
            left: -5.8em;
            top: -2.2em;
            width: 18.4em;
            display: block;
        }
    }

    &__shadow {

        @media (min-width: 768px) {
            background: url("../img/fshadow.png") center no-repeat;
            background-size: 100% auto;
            position: absolute;
            left: 0;
            bottom: -25em;
            width: 100%;
            height: 48em;
        }
    }

}

@keyframes blik {
    from {
        left: -5em;
    }

    65% {
        left: -5em;
        opacity: 0;
    }

    70% {
        // left: 30em;
        opacity: 1;
    }

    75% {
        left: 30em;
        opacity: 0;
    }

    to {
        left: 30em;
    }
}
