.optionsSlider {
    position: relative;
    z-index: 0;

    @media (max-width: 767px) {
        margin: 0 -1em;
        overflow: hidden;
    }

    .slick-list {
        max-width: none;
        overflow: hidden;
    }

    .slick-arrow {
        top: 78.5%;

        @media (min-width: 768px) {
            top: 56.5%;

        }

        &.icon_next {
            right: 1em;
            @media (min-width: 768px) {
                right: 4.5em;

            }
        }

        &.icon_prev {
            left: 1em;
            @media (min-width: 768px) {
                left: 4.5em;

            }
        }
    }

    &__wrap {
        position: relative;

        @media (min-width: 768px) {
            margin: auto;
            max-width: 95.5%;
        }

    }

    &__slide {
        @media (max-width: 767px) {
            height: 44.9em;
            overflow: hidden;
            position: relative;
            margin: 0;

            img {
                position: absolute;
                height: 100%;
                width: auto;
                left: 50%;
                transform: translateX(-50%);
                max-width: none;
            }

        }
    }

    &__info {
        position: absolute;
        z-index: 10;
        top: 1.2em;
        left: 0.6em;
        padding: 1.5em 2.6em 2.1em;
        width: 22.5em;
        background-color: rgba(#101010, 0.8);

        @media (min-width: 768px) {
            top: 14.2em;
            padding: 2.7em 3.7em;
            left: 21em;
            width: 40.7em;

        }

        @media (max-width: 767px) {
            &:before {
                content: '';
                position: absolute;
                left: -0.2em;
                top: 1.9em;
                width: 0.938em;
                height: 0.938em;
                box-shadow: 0 0.625em 1.875em rgba(255, 209, 61, 0.8);
                background-color: #dab333;
                background-image: linear-gradient(to bottom, #ffd564 0%, #eebe3b 100%);
            }
        }
    }

    &__title {
        font-weight: 600;
        font-size: 1.7em;
        margin-bottom: -0.1em;

        @media (min-width: 768px) {
            font-size: 2.3em;
            margin-bottom: 0.4em;

        }

        @media (max-width: 767px) {
            line-height: 1.1;
            // text-align: center;
        }
    }

    &__text {
        line-height: 1.5;
        max-width: 96%;
        font-size: 0.9em;
        letter-spacing: 0.035em;
        margin-bottom: 0.8em;

        @media (min-width: 768px) {
            max-width: 78%;
            font-size: 1em;
            letter-spacing: 0.035em;
            margin-bottom: 2.5em;

        }

        p {
            margin: 0.6em 0;

            @media (min-width: 768px) {
                margin: 0.9em 0;
            }
        }
    }

    &__bottom {
        display: flex;
        // margin: 0 -0.9em;
        // max-width: 100%;
        position: relative;

        &:after {
            // content: '';
            display: table;
            clear: both;
            width: 100%;
        }
    }

    &__item {
        // flex-grow: 1;
        flex: none;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        // margin: 0 0.8em;
        padding: 0.6em 0 0.5em;
        min-height: 4.3em;
        font-size: 0.8em;
        width: 33.3%;
        letter-spacing: 0.035em;

        @media (min-width: 768px) {
            min-height: 3.7em;
            font-size: 0.9em;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        &:after,
        &:before {
            content: '';
            position: absolute;
            display: block;
            bottom: 0;
            left: 3%;
            height: 0.2em;
        }

        &:before {
            background-color: #aaa79a;
            opacity: 0.4;
            width: 94%;
        }

        &:after {
            background-color: #f6cb54;
            width: 0;
        }

        &.active {
            color: #f6cb54;

            &:after {
                transition: width 5s;
                width: 94%;
            }
        }
    }

    &__action {
        text-align: center;
        position: relative;
        margin-top: -2.8em;

        .btn {
            max-width: 28.5em;
        }
    }

}
